@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
}

button {
  width: 120px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.primary-btn {
  @apply text-white bg-teal-500 shadow-md hover:bg-teal-600;
}

.ordinary-btn {
  @apply text-gray-500 bg-gray-200 shadow-md hover:bg-gray-300;
}
